.social-btn {
    color: blue;
    position: absolute;
    left: 100px;
    height: 40px;
    padding: 5 5 5 5;
    width: 100px;
    text-align: center;
    border: solid 5px;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
